.grid-list {
  .header {
    font-weight: bold;
    font-size: large;
    background-color: lighten($black, 80%);
    color: lighten($black, 30%);
  }
}

.grid-list > .row > .col > .btn-sm {
  --bs-btn-padding-x: 0.50rem;
  --bs-btn-padding-y: 0.05rem;
  --bs-btn-font-size: 0.80rem;
  --bs-btn-border-radius: 0.20rem;
}
